.logo {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    opacity: 1;
}

body {
    background-image: url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: relative;
    opacity: 0.6;
}

.container {
    max-width: 1000px;
    border: 3px solid white;
    margin: auto;
    height: 60vh;
    padding: 30px;
    overflow-y: auto;
}

h1 {
    margin-top: 14px;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.message {
    background-color: whitesmoke;
    width: 250px;
    padding: 10px;
    margin: 14px 12px;
    border: 3px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1073px;
}

#inputmessage {
    margin: 6px 0px 0px 0px;
    width: 93.5%;
    border: 3px solid white;
    border-radius: 3.5px;
    height: 26px;
}

.btn {
    color: light-green;
    cursor: pointer;
    border: 3px solid purple;
    border-radius: 3px;
    height: 33px;
}
